<%if notice %>
  <div class="message_notice alert alert-danger" role="alert" data-controller="notice" data-target="notice.message">
    <div>
      <i class="fas fa-paw"></i> 
      <%= notice %>
    </div>
    <a class="close" data-action="notice#close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>    