body{
  background-color: #efede8;
  font-family: 微軟正黑體;
  outline: none;
  .container{
    max-width: 963px;
  }
  .main_bg{
    width: 80%;
    min-height: 100vh;
    height: auto;  
    background-color: #ffffff;
    padding-bottom: 40px;
  }
}